@main("Avoiding context switches", routes.Slides.customContexts6, routes.Slides.customContexts4) {
    @points {
        @point.show {
            Trampoline Execution Context
            @points {
                @point("Invokes run immediately...")
                @point("Unless invoked recursively")
                @point {
                    Then places tasks in a queue to invoke sequentially
                    @includeCode("app/examples/CustomContexts.scala", "trampoline-ec")
                }
            }
        }
    }
}